@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 隐藏滚动条但保持滚动功能 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
} 

.markdown-content img {
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.markdown-content {
  color: #1a202c;
  line-height: 1.7;
}

.dark .markdown-content {
  color: #e2e8f0;
}